p {
  font-family: "Andale Mono";
  color: #557c70;
}

.main-heading {
  font-size: 75px;
}

.info-text {
  font-size: 25px;
}

.info-text-small {
  font-size: 20px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
